html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: flex-start; /* ou center se quiser vertical */
  background: #f8f9fa; /* sรณ pra ficar bonito */
}